@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #fafafa;
  --primary: #f5d038;
  --primary-hover: #cca60a;
  --secondary: #bc9c22;
  --secondary-hover: #735f15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), "Montserrat", sans-serif;
  line-height: 1.5;
}

.font-dancing {
  font-family: var(--font-dancing), "Dancing Script", cursive;
}
